# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Flask
instance/
*.log

# VS Code
.vscode/

# Environment Variables
.env

# Jupyter Notebooks
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db